.card {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 25rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* Can't override only the border radius without important */
    border-radius: 10px !important; 
}

.card-title {
    font-size: 30px;
    margin-top: 16px;
}

.card-subtitle {
    font-size: 20px;
    margin-top: 3px;
}

.card-body {
    padding-top: 10px ;
}

.card:hover {
    box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.2);
}