.skillsection {
    position: relative;
    
}



.skillinfo {
    text-align: center;
    border: 3px;
    border-style: solid;
    border-color: red;
    border-radius: 25px;
    position: relative;
    
    width: 1000px;
    height: 200px;
}