#form {
    width: 90%;
    border: 2px solid gray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form-group {
    width: 90%;
}

.actionContainer {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#submit {
    border: none;
    font-size: larger;
    white-space: nowrap;
    background-color: var(--main);
}
