#navbar {
    background-color: var(--main);
    filter: drop-shadow(0px 3px 5px #000000);
    padding: 20 0;
    border-radius: 0 0 10px 10px;
}

#logo {
    height: 8vw;
}

#brand-name {
    font-size: 5vw;
    margin: 0;
    padding: 0;
    padding-left: 30px;
    cursor: pointer;
    color: white;
}

#nav-link {
    text-align: right;
    font-size: 1.5vw;
    padding: 0;
    color: white;
}

@media screen and (max-width: 992px) {
    .burger {
        display: flex;
        justify-content: flex-end;
    }

    #nav-link {
       padding-top: 15px;
       padding-bottom: 15px;
    }
}
@media screen and (max-width: 991px) {
    #brand-name {
    padding: 0;
    }


}

