#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 3px solid green;
    padding: 20px;
}

#footer .row:first-child {
    display: flex;
    justify-content: center;
}

#contact {
    text-align: center;
    padding: 0;
}

#contact h3 span {
    white-space: nowrap;
}

#phone {
    text-decoration: none;
    white-space: nowrap;
}

#certification {
    display: flex;
    justify-content: center;
    align-items: center;
}

#certification img {
    height: 3rem;
}

@media screen and (max-width: 375px) {
    #certification img {
        height: 2rem;
    }
}
